.el-loading-spinner{
    /*这个是自己想设置的 gif 加载动图*/
    background-image:url('../image/load.gif');
    background-repeat: no-repeat;
    background-size: 200px 120px;
    height:100px;
    width:80% !important;
    background-position:center;
    /*覆盖 element-ui  默认的 50%    因为此处设置了height:100%,所以不设置的话，会只显示一半，因为被top顶下去了*/
    top:40%;
}
